<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}</title>
    <meta name="description"
          content="{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/app.css?h={{ get_hash(path='static/app.css') }}"/>
    <script src="/static/zepto.js"></script>
    <script src="/static/app.js?h={{ get_hash(path='static/app.js') }}"></script>
</head>
<body>
<header class="navbar bg-base-100/80 backdrop-blur px-5 border-b border-base-300 fixed h-12 min-h-12 z-50">
    <div class="navbar-start">
        <a href="{{ get_url(path='/', lang=lang) }}" class="flex items-center gap-2 group">
            <img src="/static/logo.png" class="w-8 h-8 group-hover:rotate-12 transition-transform"
                 alt="{{ config.title }}"/>
            <span class="text-lg font-semibold hidden sm:inline-block">IoTMQ</span>
        </a>
    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="flex items-center gap-1 cursor-pointer hover:text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 opacity-80" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m5 8 6 6"/>
                    <path d="m4 14 6-6 2-3"/>
                    <path d="M2 5h12"/>
                    <path d="M7 2h1"/>
                    <path d="m22 22-5-10-5 10"/>
                    <path d="M14 18h6"/>
                </svg>
                <svg class="h-3 w-3 fill-current opacity-60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
                </svg>
            </div>
            <ul tabindex="0"
                class="dropdown-content z-60 menu p-1 shadow-xl bg-base-100 border border-base-300 rounded-lg w-28 mt-2">
                {% for language in config.extra.languages %}
                {# 默认语言切换，域名后加语言代码 #}
                {% if lang == config.default_language %}
                {% set url = current_url | replace(from=config.base_url, to=config.base_url ~ '/' ~ language.code) %}
                {% else %}
                {# 非默认语言切换，替换语言代码 #}
                {% if language.code == config.default_language %}
                {% set url = current_url | replace(from='/' ~ lang ~ '/', to='/') %}
                {% else %}
                {% set url = current_url | replace(from='/' ~ lang ~ '/', to='/' ~ language.code ~ '/') %}
                {% endif %}
                {% endif %}
                <li>
                    {% if lang == language.code %}
                    <span class="py-2 active font-bold cursor-default">{{ language.name }}</span>
                    {% else %}
                    <a href="{{ url | trim_end_matches(pat='/') | safe }}{% if not config.extra.is_dev %}.html{% endif %}"
                       class="py-2">{{ language.name }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
<main>
    {% block content %}
    {% endblock content %}
</main>
</body>
</html>