{% extends "base.html" %}

{% block content %}
<div class="flex justify-center items-center min-h-100">
    <a href="{{ get_url(path='docs/latest/', lang=lang) }}">
        <button class="btn btn-primary">{{ trans(key="get_started", lang=lang) }} -></button>
    </a>
</div>
<footer class="footer footer-center sm:footer-horizontal bg-base-300 py-6">
    <aside>
        <p>Copyright © 2019-{{ now() | date(format="%Y") }} MHIoT Inc. All rights reserved</p>
    </aside>
</footer>
{% endblock content %}