{% extends "base.html" %}
{% import "sidebar.html" as sidebar %}

{% block content %}

{% set parts = page.components %}
{% if parts[0] == "docs" %}
{% set version = parts[0] ~ "/" ~ parts[1] ~ "/_index.md" %}
{% else %}
{% set version = parts[1] ~ "/" ~ parts[2] ~ "/_index.md" %}
{% endif %}
{% set root = get_section(path=version, lang = page.lang) %}

<div class="flex h-[calc(100vh-3rem)] overflow-hidden">
    <aside class="hidden lg:block w-80 px-5 shrink-0 overflow-y-auto border-r border-base-200">
        <ul class="menu w-full">
            <li>
                <a href="{{ root.permalink | trim_end_matches(pat='/') | safe }}">{{ root.title }}</a>
            </li>
            {{ sidebar::render(path=version, current=page.permalink, lang = page.lang) }}
        </ul>
    </aside>
    <div class="flex-1 max-w-none py-10 px-20 overflow-y-auto prose lg:prose-lg prose-a:text-primary prose-a:no-underline">
        {{ page.content | safe }}
    </div>
</div>

{% endblock content %}