{% extends "base.html" %}
{% import "sidebar.html" as sidebar %}

{% block content %}

{% set obj = page | default(value=section) %}
{% set parts = obj.components %}
{% if parts[0] == "docs" %}
{% set version = parts[0] ~ "/" ~ parts[1] ~ "/_index.md" %}
{% else %}
{% set version = parts[1] ~ "/" ~ parts[2] ~ "/_index.md" %}
{% endif %}
{% set root = get_section(path=version, lang = obj.lang) %}

<div class="flex h-screen overflow-hidden">
    <aside class="hidden lg:block flex-none px-5 pt-16 shrink-0 overflow-y-auto border-r border-base-content/5 bg-base-200/50">
        <ul class="menu w-full">
            <li>
                <a href="{{ root.permalink | trim_end_matches(pat='/') | safe }}"
                   class="menu-a hover:text-primary pl-0{% if root.permalink == obj.permalink %} text-primary font-bold{% endif %}">
                    {{ root.title }}
                </a>
            </li>
            {{ sidebar::render(path=version, current=obj.permalink, lang = obj.lang) }}
        </ul>
    </aside>
    <div class="flex-1 mt-12 overflow-y-auto">
        <article
                class="max-w-4xl mx-auto py-5 lg:py-10 px-5 lg:px-20 prose lg:prose-md prose-a:text-primary prose-a:no-underline">
            {{ obj.content | safe }}
        </article>
    </div>
</div>

{% endblock content %}