{% extends "base.html" %}
{% import "sidebar.html" as sidebar %}

{% block content %}

{% set parts = section.components %}
{% if parts[0] == "docs" %}
{% set version = parts[0] ~ "/" ~ parts[1] ~ "/_index.md" %}
{% else %}
{% set version = parts[1] ~ "/" ~ parts[2] ~ "/_index.md" %}
{% endif %}
{% set root = get_section(path=version, lang = section.lang) %}

<aside class="hidden lg:block w-200 shrink-0 sticky overflow-y-auto pr-4 border-r border-base-200">
    <ul>
        <li class="{% if root.permalink == section.permalink%}bg-purple-500{% endif %}">
            <a href="{{ root.permalink | trim_end_matches(pat='/') | safe }}">{{ root.title }}</a>
        </li>
        {{ sidebar::menu(path=version, current=section.permalink, lang = section.lang) }}
    </ul>
</aside>
<div class="prose max-w-none lg:prose-lg p-10 prose-a:text-primary prose-a:no-underline flex-1">
    {{ section.content | safe }}
</div>

{% endblock content %}