{% macro render(path, current, lang) %}
{% set section = get_section(path=path, lang=lang) %}

{% for page in section.pages %}
<li>
    <a href="{{ page.permalink | trim_end_matches(pat='/') | safe }}{% if not config.extra.is_dev %}.html{% endif %}"
       class="menu-a hover:text-primary pl-0{% if page.permalink == current %} text-primary{% endif %}">
        {{ page.title }}
    </a>
</li>
{% endfor %}

{% for subpath in section.subsections %}
{% set subsection = get_section(path=subpath, lang=lang) %}
<li class="mt-5 first:mt-0 pt-2 border-t border-base-content/5">
    {% if subsection.content | length > 0 %}
    <a href="{{ subsection.permalink | trim_end_matches(pat='/') | safe }}{% if not config.extra.is_dev %}.html{% endif %}"
       class="menu-a hover:text-primary pl-0{% if subsection.permalink == current %} text-primary{% endif %}">
        {{ subsection.title }}
    </a>
    {% else %}
    <span class="menu-a opacity-50 pointer-events-none font-medium">{{ subsection.title }}</span>
    {% endif %}
    <ul class="ml-2 pl-4">
        {{ self::render(path=subpath, current=current, lang=lang) }}
    </ul>
</li>
{% endfor %}

{% endmacro %}