@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@theme {
    --font-sans: "Inter", "Segoe UI", "PingFang SC", "Microsoft YaHei", system-ui, sans-serif;
    --default-font-family: var(--font-sans);
    --font-family-sans: var(--font-sans);
}

@layer base {
}

@layer components {
    .menu li > :where(*:not(ul)):hover,
    .menu li > :where(*:not(ul)):focus,
    .menu li > :where(*:not(ul)):active,
    .menu li > :where(*:not(ul)).active {
        background: transparent none !important;
        color: var(--color-primary) !important;
        --tw-text-opacity: 1 !important;
        outline: none !important;
        box-shadow: none !important;
    }
}